<nav>
  <mat-toolbar id="mat-toolbar">
    <h3><a routerLink="/">ERS</a></h3>

    <!-- Spaces elements to the ends of both sides of nav -->
    <span class="space-between"></span>

    <ul routerLinkActive="active">
      <li><a *ngIf="!checkIfLoggedIn()" routerLink="/signup">SIGNUP</a></li>
      <li><a *ngIf="!checkIfLoggedIn()" routerLink="/login">LOGIN</a></li>
      <li *ngIf="checkIfLoggedIn()"><a routerLink="/add_reimbursement">ADD</a></li>
      <li *ngIf="checkIfLoggedIn()"><a routerLink="{{profileLink}}">PROFILE</a></li>
      <li *ngIf="checkIfLoggedIn()"><a (click)="logout()" routerLink="/">LOGOUT</a></li>
    </ul>
  </mat-toolbar>
</nav>
