<div class="content">
  <h1>Reimbrusement Request</h1>

  <form (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field2">
      <input matInput placeholder="Amount" required [(ngModel)]="amount">
    </mat-form-field>
    <mat-form-field class="form-field2">
      <input type="text" matInput placeholder="Description" maxlength="250" required
        [(ngModel)]="description">
    </mat-form-field>
    <label class="radio-label">Select a Reimbursement Type</label>
    <mat-radio-group class="radio-group" required>
      <mat-radio-button class="radio-buttons" *ngFor="let reimbType of reimbTypes" [value]="reimbType"
        (change)="changeReimbType($event)">
        {{reimbType}}
      </mat-radio-button>
    </mat-radio-group>
    <button mat-button class="form-button">Submit</button>
  </form>
</div>
