<mat-card-content class="card-content">
  <div class="info-col">
    <p class="reimb-field">ID: {{reimbursement.id}}</p>
    <p class="reimb-field">author: {{reimbursement.authorId}}</p>
    <p class="reimb-field">amount: ${{reimbursement.amount}}</p>
    <p class="reimb-field">Description: {{reimbursement.description}}</p>
    <p class="reimb-field">Ticket Type: {{reimbursement.reimbTypeId}}</p>
    <p class="reimb-field">Status: {{reimbursement.reimbStatusId}}</p>
    <p class="reimb-field">submit Date: {{reimbursement.submitted}}</p>
    <p class="reimb-field">Resolve Date: {{reimbursement.resolved ? reimbursement.resolved : "not resolved"}}</p>
    <p class="reimb-field">resolver: {{reimbursement.resolverId ? reimbursement.resolverId : "Not resolved yet"}}</p>
  </div>
  <div class="img-col">
    <img src="">
  </div>
</mat-card-content>
