<div class="content">
  <h1>Reimbursement Request</h1>

  <form (ngSubmit)="addReimbursement()">
    <span class="error">{{error}}</span>
    <mat-form-field class="form-field2">
      <input matInput placeholder="Amount" required [(ngModel)]="reimbursement.amount" name="amount">
    </mat-form-field>
    <mat-form-field class="form-field2">
      <input type="text" matInput placeholder="Description" maxlength="250" required
        [(ngModel)]="reimbursement.description" name="description">
    </mat-form-field>
    <label class="radio-label">Select Reimbursement Type</label>
    <mat-radio-group class="radio-group" [(ngModel)]="reimbursement.reimbTypeId" name="reimbTypeId" required>
      <mat-radio-button class="radio-buttons" *ngFor="let reimbType of reimbTypes; let i = index" [value]="i + 1">
        {{reimbType}}
      </mat-radio-button>
    </mat-radio-group>
    <button mat-button class="form-button">Submit</button>
  </form>
</div>
