<div class="content">
  <h1>Signup</h1>

  <form (ngSubmit)="signup()">
    <mat-form-field class="form-field">
      <input matInput placeholder="Username" [(ngModel)]="user.username" name="username" required>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input type="password" matInput placeholder="Password" [(ngModel)]="user.password" name="password" required>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input type="email" matInput placeholder="Email" [(ngModel)]="user.email" name="email" required>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput placeholder="First Name" [(ngModel)]="user.firstname" name="firstname" required>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput placeholder="Last Name" [(ngModel)]="user.lastname" name="lastname" required>
    </mat-form-field>
    <mat-radio-group class="radio-group" name="role" [(ngModel)]="user.role" required>
      <mat-radio-button class=" radio-btn" *ngFor="let role of roles" [value]="role" (change)="onRadioChange($event)">
        {{role}}
      </mat-radio-button>
    </mat-radio-group>
    <button mat-button class="form-button">Sign Me Up!</button>
  </form>

  <span>Already have an account? Click
    <strong><a routerLink="/login">HERE</a></strong>
    to login!
  </span>
</div>
