<div class="content">
  <h1>Signup</h1>

  <form (ngSubmit)="signup()">
    <mat-form-field class="form-field">
      <input matInput placeholder="Username" [(ngModel)]="username" required>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input type="password" matInput placeholder="Password" [(ngModel)]="password" required>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input type="email" matInput placeholder="Email" [(ngModel)]="email" required>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput placeholder="First Name" [(ngModel)]="firstname" required>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput placeholder="Last Name" [(ngModel)]="lastname" required>
    </mat-form-field>
    <button mat-button class="form-button">Sign Me Up!</button>
    <mat-radio-group class="radio-group" required>
      <mat-radio-button class="radio-buttons" *ngFor="let role of roles" [value]="role" (change)="changeRole($event)">
        {{role}}
      </mat-radio-button>
    </mat-radio-group>
  </form>

  <span>Already have an account? Click
    <strong><a routerLink="/login">HERE</a></strong>
    to login!
  </span>
</div>
