html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #263238;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  padding-top: 25px;
}

.form-button {
  width: 170px;
  height: 50px;
  margin: 10px auto !important;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background: #263238;
}

.form-button:hover {
  background: blueviolet;
  transition: 0.5s all ease-in;
}

.content {
  padding: 25px 0;
}

.content a {
  text-decoration: none;
  color: blueviolet;
}

.content a:hover {
  color: skyblue;
  transition: 0.5s all ease-in;
}

.content form {
  width: 80%;
  margin: 35px auto;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.mat-form-field {
  width: 80% !important;
  margin: 0 auto;
  font-size: 1.1rem;
}

.content .form-field2 {
  margin: 25px auto;
}

.content .radio-btn {
  margin: 20px 10px 50px 10px;
}

.content .error {
  font-size: 1rem;
  margin: 10px 0;
}

.card {
  width: 500px;
  border: 1.5px solid black;
  margin: 5px;
}

.card-container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media only screen and(max-width: 700px) {
  .content form {
    width: 100%;
  }

  .mat-form-field {
    width: 90% !important;
    font-size: 1rem;
  }

  .card {
    width: 95vw !important;
    margin: 5px auto;
  }
}
